.container {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 320px;
    height: 200px;
    transition: box-shadow .1s ease-in;

    &:hover {
        box-shadow: 2px 2px 10px #dbdbdb;
    }
    
    img {
        width: 100px;
        height: 100px;
    }

    .body {
        max-width: 200px;
        text-align: center;

        .title {
            font-weight: bold;
        }

        .category {
            color: var(--bg-primary);
            margin: 5px 0;
        }

        .description {
            font-size: 14px;
            color: #dbdbdb;
        }

        .price {
            margin: 10px 0;
        }

        .btns {
            button {
                padding: 5px;
                margin: 0 5px;
                font-size: 14px;
                border-radius: 3px;
                cursor: pointer;
                position: relative;
                border: 1px solid var(--bg-primary);
                bottom: 0;
                transition: bottom .1s ease-in;

                &:hover {
                    bottom: 2px;
                }
            }

            .btn-buy {
                background: var(--bg-primary);
                color: white;
            }

            .btn-det {
                background: none;
            }
        }
    }
}