.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 30px;
}

table {
    margin: 1rem;
    color: #2e2e2e;
}

thead tr th{
    padding: 1rem;
    background: #f1f1f1;
    border-radius: 5px 5px 0 0;
}

tbody td {
    padding: 10px;
    text-align: center;   
}

.title {
    text-align: center;
}

.filter-input {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.filter-input label {
    min-width: 80px;
}

.filter-input input {
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    border: 1px solid #f1f1f1;
}