nav {
    padding: 1.5rem 0;
    width: 100%;
    background: #2c2c2c;
    margin-bottom: 3rem;
    box-shadow: 2px 2px 2px #dbdbdb;

    a {
        color: white;
        font-weight: lighter;
        letter-spacing: 1px;
        margin: 0 3rem;
    }
}