.nav {
    border: 1px solid #dbdbdb;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .items {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            margin: 0 20px;
            font-size: 18px;
            transition: color .1s ease-in;

            &:hover {
                color: var(--bg-primary);
            }
        }

        .btn {
            padding: 8px;
            border: 1px solid var(--bg-primary);
            border-radius: 3px;
            align-self: center;
            transition: all .1s ease-in;
    
            &:hover {
                background-color: var(--bg-primary);
                color: white;
            }
        }
    }

}