footer {
    margin-top: 3rem;
    padding: 1rem;
    background-color: var(--bg-primary);
    color: white;
    display: flex;
    justify-content: space-evenly;

    p {
        font-size: 14px;

        span {
            font-weight: bold;
        }
    }
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}