/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: black;
}

:root {
    --bg-primary: rgb(85, 85, 255);
}